.row {
	display: flex;
	flex-direction: row;
	width: auto;
	padding-right: 300px;
	background-color: #19242d;
	color: black;

}

.nav {
	text-align: center;
	width: 20vw;
	padding-left: 50px;
	
}

.navbar{

	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-left: 0px;
	padding-bottom: 5px;

}
.navbar-brand {
	padding: 10px;
	font-size: 14px;
	align-items: center;
}

.section-three {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	padding: 10px;
}

.mid-section {
	padding-top: 15vh;
	color: ghostwhite;

}


.section-four {
	display: flex;
	flex-direction: row;
	justify-content: between;
	color: white;
	padding: 8px;
	border-radius: 10px;
	align-text: center;
	
}
.section-bottom {
	display: flex;
	flex-direction: column;
	color: white;
	
}
.section-bottom-one {
	display: flex;
	flex-direction: column;
	color: white;
	width: 300px;
	height: 260px;
}
.section-bottom-two {
	display: flex;
	flex-direction: column;
	color: white;
	width: 300px;
	height: 260px;
}
.bottom-page {
	background-color: #19242d;
	display: flex;
	flex-direction: row;
	padding: 35px;
	height: 230px;

}



a {
	color: ghostwhite;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	padding-left: 80px;
	padding-right: 80px;

}
a:hover {
	color: yellow;
	font-weight: bold;

}

.card {
	background-color: darkred;
	border-radius: 10px;
	margin: 10px;
	align-text: center;
	padding-bottom: 10px;
}

.card-body{
	text-align: center;
	background-color: lightcoral;
}

button {
	background-color: green;
	border-radius: 3px;
	padding: 5px;
	font-size: 15px;
	
}



.logos {
	margin: 5px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: ;

}
.footer {
	width: auto;
	color: white;
}
